<div class="mypageState">
<div class="mypageState__header">
  <div class="row">
    <div class="col">
      <a href="" class="mypageState__member"><span>고길*</span>님 반갑습니다.</a>
    </div>
    <div class="col ml-auto text-right">
      <a href="" class="mypageState__notice">채소야 공지사항</a>
    </div>
  </div>
</div>
<div class="mypageState__body">
  <div class="row">
    <div class="col">
      <a href="">
        <h2>배송중</h2>
        <div>
          <strong>0</strong>건
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <h2>배송완료</h2>
        <div>
          <strong>0</strong>건
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <h2>할인쿠폰</h2>
        <div>
          <strong>0</strong>건
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <h2>취소/반품/교환</h2>
        <div>
          <strong>0</strong>건
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <h2>구매후기</h2>
        <div>
          <strong>0</strong>건
        </div>
      </a>
    </div>
  </div>
</div>
</div>