{% extends 'layout/base.njk' %}

{% block content %}
    <div class="page accounts">
        <div class="accounts__header">
            <div class="wrap">
                <h2 class="accounts__title">회원가입</h2>
                <div class="join-breadcrumb">
                     <span class=" ">
                         <strong>01</strong>
                         이용약관
                     </span>
                    <span class="active">
                         <strong>02</strong> 정보입력
                     </span>
                    <span>
                         <strong>03</strong> 가입완료
                     </span>
                </div>
            </div>
        </div>
        <div class="accounts__body">
            <div class="wrap">
                <div class="join">
                    <div class="join__container">
                        <form action="" class="w-full block">
                            <div class="join__form">
                                <div class="join__form-header">
                                    <h3>기본정보</h3>
                                    <p>
                                        표시는 반드시 입력하셔야 하는 항목입니다.
                                    </p>
                                </div>
                                <div class="join__table">
                                    <table>
                                        <colgroup>
                                            <col width="185">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>
                                                <span class="required">사업자 등록번호</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="text" placeholder="-없이 10자리 숫자만 입력">
                                                        </div>
                                                        <button class="btn" type="button">확인</button>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">아이디</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="text" placeholder="아이디">
                                                        </div>
                                                        <button class="btn white" type="button">중복확인</button>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">비밀번호</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="password" placeholder="영문/숫자/특수문자조합 6~15자 ">
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">비밀번호 확인</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="password" placeholder=" ">
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">이름</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="password" placeholder=" ">
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">이메일</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row row--email">
                                                        <div class="input">
                                                            <input type="password" placeholder=" ">
                                                        </div>
                                                        <div class="select">
                                                            <select name="" id="">
                                                                <option value="">직접입력</option>
                                                                <option value="">@gmail.com</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                    <div class="mt-2">
                                                        <label for="receiveMail" class="checkbox">
                                                            <input type="checkbox" value="1" id="receiveMail" hidden>
                                                            <span></span>
                                                            <p class="opacity-50">정보/이벤트 SMS 수신에 동의합니다.</p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">휴대폰 번호</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="text" placeholder="휴대폰 번호">
                                                        </div>
                                                        <button class="btn white" type="button">본인인증</button>
                                                    </div>
                                                    <p></p>
                                                    <div class="mt-2">
                                                        <label for="receiveNumber" class="checkbox">
                                                            <input type="checkbox" value="1" id="receiveNumber" hidden>
                                                            <span></span>
                                                            <p class="opacity-50">정보/이벤트 SMS 수신에 동의합니다.</p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="required">주소</span>
                                            </th>
                                            <td>
                                                <div class="form-row">
                                                    <div class="row row--address">
                                                        <div class="input ">
                                                            <input type="text" placeholder="">
                                                        </div>
                                                        <button class="btn white" type="button">우편번호 검색</button>

                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="row">
                                                        <div class="input full">
                                                            <input type="text" placeholder="상세 주소를 입력하세요.">
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="join__btnbox">
                                    <a class="btn" href="">취소</a>
                                    <a class="btn black" href="">회원가입</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal">
        <div class="modal__content">
            <div class="modal__header">
                <h2 class="modal__title">회원가입완료</h2>
                <button class="modal__closer">닫기</button>
            </div>
            <div class="modal__body">
                <p>
                    홍길동 회원님의 채소야 가입을 축하드립니다.<br/>
                    쇼핑몰에 로그인 해 주시길 바랍니다.
                </p>
            </div>
            <div class="modal__btnbox">
                <a class="btn" href="">취소</a>
                <a class="btn black" href="">로그인</a>
            </div>
        </div>
    </div>
{% endblock %}
