{% extends 'layout/base.njk' %}

{% block content %}
    <div class="page accounts">
        <div class="accounts__header">
            <div class="wrap">
                <h2 class="accounts__title">회원가입</h2>
            </div>
        </div>
        <div class="accounts__body">
            <div class="wrap">
                <div class="login">
                    <div class="login__container">
                        <div class="col col--join">
                            <div class="join-item">
                                <div class="icon">
                                    <img src="./assets/images/icons/join-individual.png" alt="">
                                </div>
                                <h3>개인 구매회원</h3>
                                <p>만 14세 이상</p>
                                <a href="" class="btn bg-fill">개인 회원가입</a>
                            </div>
                        </div>

                        <div class="col col--join">
                            <div class="join-item">
                                <div class="icon">
                                    <img src="./assets/images/icons/join-buisness.png" alt="">
                                </div>
                                <h3>사업자 구매회원</h3>
                                <p>사업자등록증을 보유한 구매회원</p>
                                <a href="" class="btn ">사업자 회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
