// 약관

.terms {
  .terms__container {
    padding: 55px 0;
  }
  .terms__title {
    font-size: 28px;
    line-height: 1em;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
  }
  .terms__content {
    margin-top: 30px;

    & > * {
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      word-break: keep-all;
    }
    h3 {
      border-bottom: 1px solid #ddd;
      font-size: 20px;
      padding-bottom: 10px;
      padding-top: 15px;
    }
    ul {
      padding-left: 20px;
      list-style: circle;
    }
    ol {
      padding-left: 20px;
      list-style: decimal;
    }
    li {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
