.footer {
  @apply border-t-2 border-black;
  margin-top: 100px;

  .footer__links {
    @apply border-b;
    border-color: #ebebeb;
    .wrap {
      @apply flex items-center justify-start;
      height: 50px;
    }

    a {
      @apply text-sm border-r;
      line-height: 1em;
      color: #666666;
      border-color: #ebebeb;
      padding: 0 1.25em;

      &:last-child {
        @apply border-none;
      }
    }
  }

  .footer__container {
    .wrap {
      @apply flex py-10;

      h2 {
        @apply font-bold mb-2;
      }
    }

    .footer__customer {
      h3 {
        font-size: 30px;
        @apply font-bold;
      }
      .time {
        @apply mt-2 text-xs;
        color: #666666;
      }
    }
    .footer__info {
      @apply mr-auto ml-12;

      .info {
        @apply leading-6 text-sm;
        color: #666666;
      }
      .copyright {
        @apply mt-1 text-xs;
        color: #666666;
      }
    }
  }
}
