.ordertable {
  @apply border-t border-black;
  table {
  }
  th {
    font-size: 12px;
    height: 50px;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
  }
  td {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
  }
  tr:nth-child(odd) td {
    background: #f6f6f6;
  }

  span {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
    line-height: 22px;
    padding: 0 1em;
    border: 1px solid #000;
    background: #fff;
  }

  .price {
    font-size: 20px;
    font-weight: 600;
  }

  .ordertable__item {
    @apply flex;

    .thumb {
      width: 80px;
      flex: none;
      margin-right: 15px;
    }

    .info {
      flex: 1;
    }
    .name {
      font-size: 1rem;
    }
    .case {
      font-size: 14px;
      font-weight: 100;
    }

    .options {
      @apply flex items-start mt-2;

      strong {
        color: #fff;
        background: #159c65;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        padding: 0 5px;
        flex: none;
        margin-right: 5px;
      }

      ul {
        flex: 1;
      }
      li {
        font-size: 12px;
        color: #666666;
        line-height: 20px;
      }
    }
  }
}
