.starCount {
  @apply flex;
  span {
    width: 15px;
    height: 15px;
    background: url('../images/icons/star-true.png') no-repeat center;
    background-size: auto 100%;
    margin-right: 2px;
  }
  &.starCount-1 {
    span:nth-child(n + 2) {
      background: url('../images/icons/star-false.png') no-repeat center;
      background-size: auto 100%;
    }
  }
  &.starCount-2 {
    span:nth-child(n + 3) {
      background: url('../images/icons/star-false.png') no-repeat center;
      background-size: auto 100%;
    }
  }
  &.starCount-3 {
    span:nth-child(n + 4) {
      background: url('../images/icons/star-false.png') no-repeat center;
      background-size: auto 100%;
    }
  }
  &.starCount-4 {
    span:nth-child(n + 5) {
      background: url('../images/icons/star-false.png') no-repeat center;
      background-size: auto 100%;
    }
  }
}
