{% extends 'layout/base.njk' %}

{% block content %}
    <div class="subHeader">
        <button class="subHeader__back ">뒤로가기</button>
        <h2 class="subHeader__title">장바구니</h2>
    </div>
<div class="page mypage cart" style="padding-top: 50px;">
    <div class="tab tab-type2">
        <a href="" class="tab__link active">일반상품(2)</a>
        <a href="" class="tab__link">정기배송(0)</a>
    </div>
    <div class="check-all">
        <div class="wrap">
            <div class="goodsAll-check">
                <label for="goodsAll" class="checkbox">
                    <input type="checkbox" id="goodsAll" hidden>
                    <span></span>
                    <p>
                        상품 전체 선택
                    </p>
                </label>
            </div>
            <button class="btn border-gray color-gray btn--small">선택 상품 삭제</button>
        </div>
    </div>
    <div class="productGroup">
        <div class="box">
            <div class="prodItem">
                <div class="wrap">
                    <div class="flex">
                        <div class="prod__select-area">
                            <label for="prod1" class="checkbox">
                                <input type="checkbox" id="prod1" hidden>
                                <span></span>
                            </label>
                        </div>
                        <div class="prod__desc-area">
                            <div class="prod__desciption">
                                <div class="product__thumb">
                                    <img src="./assets/images/dummy-potato.png" alt="">
                                </div>
                                <div class="product__info">
                                    <div class="product__tit">
                                        <h3 class="product__name">
                                            국내산 산지직송 완숙 찰토마토
                                        </h3>
                                        <div class="product__quantity">1박스 10kg</div>
                                    </div>
                                    <div class="product__price">
                                        <div class="price-sale">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                        </div>
                                        <div class="price-origin">45,000원</div>
                                    </div>
                                    <p class="sellerName">토마토닷컴</p>
                                </div>
                                <button class="prod-close">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="prod__option">
                        <h4>옵션 : 꿀고구마(중) 2kg / 1개</h4>
                        <div class="count">
                            <button class="countBtn minus"></button>
                            <input type="text" value="1">
                            <button class="countBtn plus"></button>
                        </div>
                    </div>
                    <div class="prod__totalPrice">
                        <div class="row infoPrice">
                            <div class="tit">상품금액</div>
                            <div class="desc">
                                38,900<span>원</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tit">배송비 (5만원 이상 무료)</div>
                            <div class="desc">
                                38,900<span>원</span>
                            </div>
                        </div>
                    </div>
                    <div class="prod__btnBox">
                        <a href="" class="btn border-green color-green btn--wAuto btn--hAuto">주문하기</a>
                        <a href="" class="btn border-light-gray color-light-gray btn--wAuto btn--hAuto">주문수정</a>
                        <a href="" class="btn border-light-gray color-light-gray btn--wAuto btn--hAuto">찜하기</a>
                    </div>
                </div>
            </div>
            <div class="prodItem">
                <div class="wrap">
                    <div class="flex">
                        <div class="prod__select-area">
                            <label for="prod1" class="checkbox">
                                <input type="checkbox" id="prod1" hidden>
                                <span></span>
                            </label>
                        </div>
                        <div class="prod__desc-area">
                            <div class="prod__desciption">
                                <div class="product__thumb">
                                    <img src="./assets/images/dummy-potato.png" alt="">
                                </div>
                                <div class="product__info">
                                    <div class="product__tit">
                                        <h3 class="product__name">
                                            국내산 산지직송 완숙 찰토마토
                                        </h3>
                                        <div class="product__quantity">1박스 10kg</div>
                                    </div>
                                    <div class="product__price">
                                        <div class="price-sale">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                        </div>
                                        <div class="price-origin">45,000원</div>
                                    </div>
                                    <p class="sellerName">토마토닷컴</p>
                                </div>
                                <button class="prod-close">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="prod__option">
                        <h4>옵션 : 꿀고구마(중) 2kg / 1개</h4>
                        <div class="count">
                            <button class="countBtn minus"></button>
                            <input type="text" value="1">
                            <button class="countBtn plus"></button>
                        </div>
                    </div>
                    <div class="prod__totalPrice">
                        <div class="row infoPrice">
                            <div class="tit">상품금액</div>
                            <div class="desc">
                                38,900<span>원</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tit">배송비 (5만원 이상 무료)</div>
                            <div class="desc">
                                38,900<span>원</span>
                            </div>
                        </div>
                    </div>
                    <div class="prod__btnBox">
                        <a href="" class="btn border-green color-green btn--wAuto btn--hAuto">주문하기</a>
                        <a href="" class="btn border-light-gray color-light-gray btn--wAuto btn--hAuto">주문수정</a>
                        <a href="" class="btn border-light-gray color-light-gray btn--wAuto btn--hAuto">찜하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="check-all">
        <div class="wrap">
            <div class="goodsAll-check">
                <label for="goodsAll1" class="checkbox">
                    <input type="checkbox" id="goodsAll1" hidden>
                    <span></span>
                    <p>
                        상품 전체 선택
                    </p>
                </label>
            </div>
            <button class="btn border-gray color-gray btn--small">선택 상품 삭제</button>
        </div>
    </div>
    <div class="prod__price-area">
        <div class="wrap">
            <div class="prod__totalPrice">
                <div class="row infoPrice">
                    <div class="tit">상품금액</div>
                    <div class="desc">
                        38,900<span>원</span>
                    </div>
                </div>
                <div class="row">
                    <div class="tit">배송비 (5만원 이상 무료)</div>
                    <div class="desc">
                        38,900<span>원</span>
                    </div>
                </div>
                <div class="row totalOrderAmount">
                    <div class="tit">총 주문금액</div>
                    <div class="desc">
                        38,900<span>원</span>
                    </div>
                </div>
            </div>
            <a href="" class="btn color-white bg-green">2건 주문하기</a>
        </div>
    </div>
</div>
{% endblock %}
