{% extends 'layout/base.njk' %}

{% block content %}
<div class="page customer mypage">
    <div class="review__container">
        <div class="box">
            <form action="">
                <div class="customer__form">
                    <div class="form__table">
                        <table>
                            <colgroup>
                                <col width="80">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="">판매자</th>
                                <td>
                                    토마토닷컴
                                </td>
                            </tr>
                            <tr>
                                <th class="">주문번호</th>
                                <td>
                                    2020090981918261
                                </td>
                            </tr>
                            <tr>
                                <th class="align-top">상품명</th>
                                <td>
                                    국내산 산지직송 완숙 찰토마토 1박스국내산 산지직송 완숙 찰토마토 1박스
                                    국내산 산지직송 완숙 찰토마토 1박스국내산 산지직송 완숙 찰토마토 1박스
                                </td>
                            </tr>
                            <tr>
                                <th class="align-top">상품정보</th>
                                <td>
                                    <div class="form-row mb-1">
                                        <label for="s1" class="mypage-select">
                                            <select name="" id="s1" class="full">
                                                <option value="">농산물 중량을 선택하세요.</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="form-row mb-1">
                                        <label for="s2" class="mypage-select">
                                            <select name="" id="s2" class="full">
                                                <option value="">수량을 선택하세요.</option>
                                            </select>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="">주문내역</th>
                                <td>
                                    <div class="form-row">
                                        <label for="s3" class="mypage-select">
                                            <select name="" id="s3" class="full">
                                                <option value="">주문내역을 선택하세요.</option>
                                            </select>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-top">문의내용</th>
                                <td>
                                <div class="form-row">
                                    <div class="textarea">
                                        <textarea name="" id=""></textarea>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="file">
                        <div class="title">
                            <span>사진</span>
                            <span class="txt">최대 3개</span>
                        </div>
                        <label for="file1" class="custom-file">
                            <input type="file" id="file1" hidden>
                            <span class="">첨부</span>
                        </label>
                    </div>
        
                    <div class="bottom-btnBox my-4 pb-4">
                        <div class="wrap">
                            <a href="" class="btn bg-green color-white">등록</a>
                        </div>
                    </div>
                </div>
            </form>
        
        </div>

    </div>
</div>
{% endblock %}