{% extends 'layout/base.njk' %}

{% block content %}
<div class="page main">
    <div class="main__section main__visual">
        <div class="slide">
            <div class="slide__item">
                <a href="" class="slide__link">
                    <img src="./assets/images/main-visual-01.png" alt="">
                </a>
            </div>
            <div class="slide__item">
                <a href="" class="slide__link">
                    <img src="./assets/images/main-visual-01.png" alt="">
                </a>
            </div>
            <div class="slide__item">
                <a href="" class="slide__link">
                    <img src="./assets/images/main-visual-01.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="main__section main__bestProduct">
        <div class="wrap block">
            <div class="main__tit">
                <h3>BEST PRODUCT</h3>
                <p>고객님들에게 사랑받는 베스트 셀러입니다.</p>
            </div>
            <div class="main__body">
                <div class="product product-type1">
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type1.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        성주 꿀참외
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">45,000원</div>
                                    <div class="price-sale">
                                        <div class="sale">20%</div>
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type1.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        성주 꿀참외
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">45,000원</div>
                                    <div class="price-sale">
                                        <div class="sale">20%</div>
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type1.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        성주 꿀참외
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">45,000원</div>
                                    <div class="price-sale">
                                        <div class="sale">20%</div>
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type1.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        성주 꿀참외
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">45,000원</div>
                                    <div class="price-sale">
                                        <div class="sale">20%</div>
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type1.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        성주 꿀참외
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">45,000원</div>
                                    <div class="price-sale">
                                        <div class="sale">20%</div>
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__section main__productLIst">
        <div class="wrap block">
            <div class="main__body">
                <div class="product product-type2">
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type2.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        포슬포슬한 햇감자
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">25,000원</div>
                                    <div class="price-sale">
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type2.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        포슬포슬한 햇감자
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">25,000원</div>
                                    <div class="price-sale">
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type2.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        포슬포슬한 햇감자
                                    </h3>
                                    <div class="product__quantity">1박스 10kg</div>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">25,000원</div>
                                    <div class="price-sale">
                                        <div class="price">
                                            38,000
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="main__section main__newArrival">
        <div class="wrap block">
            <div class="main__tit">
                <h3>NEW ARRIVAL</h3>
                <p>최근 입고된 신상품을 만나보세요.</p>
            </div>
            <div class="main__body">
                <div class="product product-type3">
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type3.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        킹스베리 여름딸기 2kg
                                    </h3>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">25,000원</div>
                                    <div class="price-sale">
                                        <div class="price">
                                            19,500
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type3.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        킹스베리 여름딸기 2kg킹스베리 여름딸기 2kg
                                    </h3>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">25,000원</div>
                                    <div class="price-sale">
                                        <div class="price">
                                            19,500
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product__item">
                        <a href="" class="product__link">
                            <div class="product__img">
                                <img src="./assets/images/dummy-product-type3.png" alt="">
                            </div>
                            <div class="product__info">
                                <div class="product__tit">
                                    <h3 class="product__name">
                                        킹스베리 여름딸기 2kg
                                    </h3>
                                </div>
                                <div class="product__price">
                                    <div class="price-origin">25,000원</div>
                                    <div class="price-sale">
                                        <div class="price">
                                            19,500
                                            <span class="currency">원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <button class="more-btn btn bg-light-gray color-white btn--wAuto btn--hAuto">더보기</button>
            </div>
        </div>
    </div>
    <div class="main__section main__recommend">
        <div class="wrap block">
            <div class="main__tit">
                <h3>MD CHOICE</h3>
                <p>
                    목록별 추천상품을 만나보세요!
                </p>
            </div>
            <div class="main__body">
                <div class="tab tab-type1">
                    <div class="tab__head">
                        <a href="" class="tab__link active">채소</a>
                        <a href="" class="tab__link">과일</a>
                        <a href="" class="tab__link">쌀/잡곡</a>
                    </div>
                    <div class="tab__body">
                        <div class="tab__view">
                            <div class="product product-type3">
                                <div class="product__item">
                                    <a href="" class="product__link">
                                        <div class="product__img">
                                            <img src="./assets/images/dummy-product-type3-1.png" alt="">
                                        </div>
                                        <div class="product__info">
                                            <div class="product__tit">
                                                <h3 class="product__name">
                                                    킹스베리 여름딸기 2kg
                                                </h3>
                                            </div>
                                            <div class="product__price">
                                                <div class="price-origin">25,000원</div>
                                                <div class="price-sale">
                                                    <div class="price">
                                                        19,500
                                                        <span class="currency">원</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="product__item">
                                    <a href="" class="product__link">
                                        <div class="product__img">
                                            <img src="./assets/images/dummy-product-type3-1.png" alt="">
                                        </div>
                                        <div class="product__info">
                                            <div class="product__tit">
                                                <h3 class="product__name">
                                                    킹스베리 여름딸기 2kg
                                                </h3>
                                            </div>
                                            <div class="product__price">
                                                <div class="price-origin">25,000원</div>
                                                <div class="price-sale">
                                                    <div class="price">
                                                        19,500
                                                        <span class="currency">원</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="product__item">
                                    <a href="" class="product__link">
                                        <div class="product__img">
                                            <img src="./assets/images/dummy-product-type3-1.png" alt="">
                                        </div>
                                        <div class="product__info">
                                            <div class="product__tit">
                                                <h3 class="product__name">
                                                    킹스베리 여름딸기 2kg
                                                </h3>
                                            </div>
                                            <div class="product__price">
                                                <div class="price-origin">25,000원</div>
                                                <div class="price-sale">
                                                    <div class="price">
                                                        19,500
                                                        <span class="currency">원</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="product__item">
                                    <a href="" class="product__link">
                                        <div class="product__img">
                                            <img src="./assets/images/dummy-product-type3-1.png" alt="">
                                        </div>
                                        <div class="product__info">
                                            <div class="product__tit">
                                                <h3 class="product__name">
                                                    킹스베리 여름딸기 2kg
                                                </h3>
                                            </div>
                                            <div class="product__price">
                                                <div class="price-origin">25,000원</div>
                                                <div class="price-sale">
                                                    <div class="price">
                                                        19,500
                                                        <span class="currency">원</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <button class="more-btn btn bg-light-gray color-white btn--wAuto btn--hAuto">더보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__section main__sns">
        <div class="main__tit">
            <div class="wrap">
                <h3>INSTAGRAM</h3>
                <p>
                    FOLLOW on @ chaesoya
                </p>
            </div>
        </div>
        <div class="main__body">
            <div class="wrap product">
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
                <div class="sns__item">
                    <a href="" class="sns__link">
                        <img src="./assets/images/dummy-sns.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main__section main__event">
        <div class="wrap">
            <a href="" class="main__eventLink">
                <img src="./assets/images/main-event.png" alt="">
            </a>
        </div>
    </div>

</div>

{% endblock %}
