{% extends 'layout/base.njk' %}

{% block content %}
    <div class="subHeader">
        <button class="subHeader__back ">뒤로가기</button>
        <h2 class="subHeader__title">회원가입</h2>
    </div>
<div class="page accounts" style="padding-top: 50px;">
    <div class="accounts__item">
        <div class="join">
            <div class="wrap">
                <div class="title">
                    <h2>채소야 회원가입</h2>
                </div>
                <div class="join__contaner">
                    <div class="item item-join">
                        <div class="join-item">
                            <div class="icon">
                                <img src="./assets/images/icons/join-individual.png" alt="">
                            </div>
                            <h3>개인 구매회원</h3>
                            <p>만 14세 이상</p>
                        </div>
                        <div class="join__btnbox">
                            <button type="submit" class="btn bg-green color-white">개인 회원가입</button>
                        </div>
                    </div>

                    <div class="item item-join">
                        <div class="join-item">
                            <div class="icon">
                                <img src="./assets/images/icons/join-buisness.png" alt="">
                            </div>
                            <h3>사업자 구매회원</h3>
                            <p>사업자등록증을 보유한 구매회원</p>
                        </div>
                        <div class="join__btnbox">
                            <button type="submit" class="btn border-green color-green bg-white">사업자 회원가입</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
