{% extends 'layout/base.njk' %}

{% block content %}
    <div class="subHeader">
        <button class="subHeader__back ">뒤로가기</button>
        <h2 class="subHeader__title">백다다기오이 150g 1개 [특상급]</h2>
    </div>
    <div class="page" style="padding-top: 70px;">
        <img src="./assets/images/package-detail.jpg" alt="">
    </div>
{% endblock %}