{% extends 'layout/base.njk' %}

{% block content %}
<div class="page mypage history">
    <div class="history__head">
        <div class="wrap">
            <div class="row period">
                <a href="" class="active">1주일</a>
                <a href="">1개월</a>
                <a href="">9월</a>
                <a href="">10월</a>
                <a href="">이전내역</a>
            </div>
            <div class="row">
                <label for="om1" class="mypage-select">
                    <select name="" id="om1" class="full">
                        <option value="">전체상태</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div class="history__body">
        <div class="history__item">
            <div class="history__state type2">
                <div class="wrap">
                    <p class="date">2020.09.09</p>
                    <p>2020090981918261</p>
                </div>
            </div>
            <div class="box">
                <div class="prodItem">
                    <div class="wrap">
                        <div class="prod__desc-area">
                            <div class="prod__desciption">
                                <div class="product__thumb">
                                    <img src="./assets/images/dummy-potato.png" alt="">
                                </div>
                                <div class="product__info flex-1">
                                    <div class="product__tit">
                                        <h3 class="product__name">
                                            <span class="mark">취소완료</span>
                                            국내산 산지직송 완숙 찰토마토
                                        </h3>
                                        <div class="product__quantity">1박스 10kg</div>
                                    </div>
                                    <div class="product__price">
                                        <div class="price">
                                            할인 -900원
                                        </div>
                                        <span class="bar">|</span>
                                        <div class="price">
                                            41,000원 
                                        </div>
                                    </div>
                                    <div class="option">
                                        <p>주문수량 : 1개</p>
                                        <p>옵션 : 꿀고구마(중) 2kg</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="sellerName flex justify-between items-center">
                            <span>토마토닷컴</span>
                            <a href="" class="btn btn--small border-gray color-gray bg-white">판매자 문의</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="history__item">
            <div class="history__state type2">
                <div class="wrap">
                    <p class="date">2020.09.09</p>
                    <p>2020090981918261</p>
                </div>
            </div>
            <div class="box">
                <div class="prodItem">
                    <div class="wrap">
                        <div class="prod__desc-area">
                            <div class="prod__desciption">
                                <div class="product__thumb">
                                    <img src="./assets/images/dummy-potato.png" alt="">
                                </div>
                                <div class="product__info flex-1">
                                    <div class="product__tit">
                                        <h3 class="product__name">
                                            <span class="mark">취소완료</span>
                                            국내산 산지직송 완숙 찰토마토
                                        </h3>
                                        <div class="product__quantity">1박스 10kg</div>
                                    </div>
                                    <div class="product__price">
                                        <div class="price">
                                            할인 -900원
                                        </div>
                                        <span class="bar">|</span>
                                        <div class="price">
                                            41,000원 
                                        </div>
                                    </div>
                                    <div class="option">
                                        <p>주문수량 : 1개</p>
                                        <p>옵션 : 꿀고구마(중) 2kg</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="sellerName flex justify-between items-center">
                            <span>토마토닷컴</span>
                            <a href="" class="btn btn--small border-gray color-gray bg-white">판매자 문의</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}