{% extends 'layout/base.njk' %}

{% block content %}
    <div class="subHeader">
        <h2 class="subHeader__title">구매후기 작성</h2>
        <button class="subHeader__close">닫기</button>
    </div>
<div class="page review-writing mypage">
    <div class="review__container">
        <div class="prodItem">
            <div class="wrap">
                <div class="prod__desc-area mb-0">
                    <div class="prod__desciption">
                        <div class="product__thumb">
                            <img src="./assets/images/dummy-potato.png" alt="">
                        </div>
                        <div class="product__info flex-1">
                            <div class="product__tit">
                                <h3 class="product__name">
                                    국내산 산지직송 완숙 찰토마토
                                </h3>
                                <div class="product__quantity">1박스 10kg</div>
                            </div>
                            <div class="product__price">
                                <div class="price-sale">
                                    <div class="price">
                                        38,000
                                        <span class="currency">원</span>
                                    </div>
                                </div>
                            </div>
                            <p class="sellerName type2 flex justify-between items-center">
                                토마토닷컴
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="score-area type2 bg-white py-4">
            <div class="wrap">
                <div class="title">상품은 만족하셨나요?</div>
                <div class="radiobox type3">
                    <label for="p1" class="radio">
                        <input type="radio" name="s0" id="p1" hidden>
                        <span></span>
                    </label>
                    <label for="p2" class="radio">
                        <input type="radio" name="s0" id="p2" hidden>
                        <span></span>
                    </label>
                    <label for="p3" class="radio">
                        <input type="radio" name="s0" id="p3" hidden>
                        <span></span>
                    </label>
                    <label for="p4" class="radio">
                        <input type="radio" name="s0" id="p4" hidden>
                        <span></span>
                    </label>
                    <label for="p5" class="radio">
                        <input type="radio" name="s0" id="p5" hidden>
                        <span></span>
                    </label>
                </div>
                <p class="comment-cont">3점 (보통)</p>
            </div>
        </div>
        <div class="box">
            <form action="">
                <div class="customer__form">
                    <div class="form__table">
                        <table>
                            <colgroup>
                                <col width="80">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="">제목</th>
                                <td>
                                <div class="form-row">
                                    <div class="input">
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-top">문의내용</th>
                                <td>
                                <div class="form-row">
                                    <div class="textarea">
                                        <textarea name="" id=""></textarea>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="file">
                        <div class="title">
                            <span>사진</span>
                            <span class="txt">최대 3개</span>
                        </div>
                        <label for="file1" class="custom-file">
                            <input type="file" id="file1" hidden>
                            <span class="">첨부</span>
                        </label>
                    </div>

                    <div class="bottom-btnBox my-4 pb-4">
                        <div class="wrap">
                            <a href="" class="btn bg-green color-white">등록</a>
                            <p class="mt-2">
                                상품과 무관한 사진을 첨부한 후기는 통보없이 삭제 및 적립혜택이
                                회수됩니다.
                            </p>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
{% endblock %}
