<footer class="footer">
    <div class="footer__links flex flex-wrap">
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-1.png" alt=""></div>
            <p>공지사항</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-2.png" alt=""></div>
            <p>상품문의</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-3.png" alt=""></div>
            <p>상품후기</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-4.png" alt=""></div>
            <p>마이페이지</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-5.png" alt=""></div>
            <p>최근본상품</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-6.png" alt=""></div>
            <p>장바구니</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-7.png" alt=""></div>
            <p>찜리스트</p>
        </a>
        <a href="" class="w-1/4 flex-none">
            <div class="img"><img src="./assets/images/icons/foot-8.png" alt=""></div>
            <p>PC버전</p>
        </a>
    </div>
    <div class="footer__info">
        <div class="row">
            <div class="col">
                <h3>고객행복센터</h3>
                <a href="tel:1588-1655">1588-1655</a>
                <p>
                    평일 : AM 09:00 - PM 18:00<br/>
                    점심 : PM 12:00 - PM 13:00<br/>
                    토요일/일요일/공휴일 휴무
                </p>
            </div>
            <div class="col">
                <h3>고객행복센터</h3>
                <h2>예금주 : 고길동</h2>
                <p>
                    000-00-00000-00-0<br/>
                    기업은행
                </p>
            </div>
        </div>
    </div>
    <div class="footer__buttons">
        <a href="">고객센터 연결</a>
        <a href="">1:1 문의하기</a>
    </div>
    <div class="footer__description">
        대표 : 장상열<br/>
        사업자등록번호 : 536-86-01744<br/>
        통신판매업 신고번호 : 제2020-서울송파-1767호<br/>
        회사주소 : 서울특별시 송파구 양산로2길 38<br/>
        Copyrightⓒ 2020. nongsanmaru.com. All rights reserved.
    </div>
    <div class="footer__etc">
        <a href="">회사소개</a>
        <a href="">이용약관</a>
        <a href="">개인정보처리방침</a>
        <a href="">이용안내</a>
    </div>
</footer>
