<footer class="footer">

    <div class="footer__links">
        <div class="wrap">
            <a href="">회사소개</a>
            <a href="">이용약관</a>
            <a href="">개인정보처리방침</a>
            <a href="">법적고지</a>
        </div>
    </div>

    <div class="footer__container">
        <div class="wrap">
            <div class="logo">
                <a href="/"><img src="./assets/images/footer-logo.png" alt=""></a>
            </div>
            <div class="footer__info">
                <h2>채소야</h2>
                <p class="info">
                    대표 : 장상열   사업자등록번호 : 536-86-01744   통신판매업 신고번호 : 제2020-서울송파-1767호<br/>
                    회사주소 : 서울특별시 송파구 양산로2길 38
                </p>
                <p class="copyright">
                    Copyrightⓒ 2020. nongsanmaru.com. All rights reserved.
                </p>
            </div>

            <div class="footer__customer">
                <h2>고객행복센터</h2>
                <h3 class="number">1588-1655</h3>
                <p class="time">평일  09:00 ~ 18:00  /  주말 · 공휴일 휴무</p>
            </div>
        </div>
    </div>
</footer>