<header class="header">
    <div class="header__top">
        <div class="wrap">
            <div class="left">
                <a href="#//">즐겨찾기</a>
                <a href="#//">상품후기</a>
                <a href="#//">이벤트</a>
                <a href="#//">Q&amp;A</a>
            </div>
            <div class="right">
                <a href="">로그인</a>
                <a href="">회원가입</a>
            </div>
        </div>
    </div>

    <div class="header__container">
        <div class="wrap">
            <h1 class="logo">
                <a href="">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </h1>

            <div class="header__banner">
                <img src="//via.placeholder.com/225x75" alt="">
            </div>
            <div class="header__links">
                <a href="">
                    <i><img src="./assets/images/icons/car.png" alt=""></i>
                    <p>주문/배송</p>
                </a>
                <a href="">
                    <i><img src="./assets/images/icons/user.png" alt=""></i>
                    <p>마이페이지</p>
                </a>
                <a href="">
                    <i>
                        <img src="./assets/images/icons/cart.png" alt="">
                        <span class="cart-count">2</span>
                    </i>
                    <p>장바구니</p>
                </a>
            </div>
        </div>
    </div>

    <div class="header__nav">
        <div class="wrap">
            <button class="hamburger">메뉴</button>

            <nav class="header__gnb">
                <a href="">최신상품</a>
                <a href="">특가 농산물</a>
                <a href="">베스트 상품</a>
                <a href="">공지사항</a>
                <a href="">고객센터</a>
                <a href="">Q &amp; A</a>
                <a href="">상품후기</a>
            </nav>

            <div class="header__searchform">
                <form action="" type="post">
                    <div class="form__wrap">
                        <input type="text" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sitemap">
        <div class="wrap">
            <div class="sitemap__item">
                <a href="" class="sitemap__item-title">채소</a>
                <div class="sitemap__links">
                    <a href="" class="active">오이/호박/고추/열매/채소</a>
                    <a href="">감자/양파/마늘/뿌리채소</a>
                    <a href="">배추/상추/깻잎/잎채소</a>
                    <a href="">버섯류</a>
                    <a href="">나물류</a>
                </div>
            </div>
            {% for i in [1,2,3,4,5,1,2,3,4]%}
            <div class="sitemap__item">
                <a href="" class="sitemap__item-title">채소</a>
                <div class="sitemap__links">
                    <a href="">오이/호박/고추/열매/채소</a>
                    <a href="">감자/양파/마늘/뿌리채소</a>
                    <a href="">배추/상추/깻잎/잎채소</a>
                    <a href="">버섯류</a>
                    <a href="">나물류</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</header>