@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
  line-height: 1.25em;
  font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "Sans-serif";
  font-weight: 400;
  min-width: 1220px;
}
.wrap {
  @apply flex w-full mx-auto;
  max-width: 1200px;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}

input,
textarea,
button,
select {
  appearance: none;
  outline-width: 0;
}
