<div class="return__infolist mt-24">
  <div class="return__infolist-header">
    <h2>취소/교환/반품 안내</h2>
  </div>

  <div class="return__infolist-body">
    <div class="row">
        <h2>취소신청</h2>
        <h3>1. 주문취소 신청   >  2. 취소금액 확인   >  3. 취소신청 완료   >  4. 판매자 취소신청 승인   >  5. 취소완료</h3>
        <div>
          <p class="">※ 판매자 주문통보 이전에는 즉시 주문 취소가 가능합니다.</p>
        </div>
        <p>
        판매자에게 주문 통보 전에는 즉시 취소가 가능하며, 주문 통보 후에는 취소신청 후 판매자 승인이 되어야 취소가 가능합니다.<br/>
        다만, 상품에 따라 주문취소가 불가능한 상품이 존재하오니, 상품 주문 시 꼭 유의해 주시기 바랍니다.<br/>
        묶음배송 상품 중 일부를 취소하실 경우 배송비 부담은 고객이 해야 합니다.<br/>
        할인쿠폰, 포인트로 인해 환불 금액이 다를 수 있습니다.<br/>
        이미 출고된 상품이 있는 경우 주문을 취소할 수 없습니다. 반품 메뉴를 이용하시기 바랍니다.<br/>
        환불 처리를 위해 계좌 정보를 수집/이용하며, 입력하신 정보는 환불 목적으로만 이용됩니다.
        </p>
    </div>
    <div class="row">
      <h2>교환신청</h2>
        <h3>1. 교환신청   >  2. 교환상품 수거   >  3. 교환상품 수거완료   >  4. 교환상품 배송   >  5. 교환상품 배송완료</h3>
        <p>
        교환은 같은 옵션 상품만 가능합니다. 다른 옵션 상품으로 교환을 원할 경우, 반품 후 재구매 해주세요.<br/>
        고객님의 책임으로 상품 등이 멸실 또는 훼손되었거나 특정 상품의 경우 포장을 개봉하였거나 포장이 훼손되어 상품 가치가 상실된 경우 반품/교환이 불가할 수 있습니다.<br/>
        기타, 상품의 교환, 환불 및 상품 결함 등의 보상은 재정경제부고시, 소비자피해보상규정에 의함.<br/>
        배송비가 동봉되지 않았을 경우 별도 입금 요청을 드릴 수 있습니다.<br/>
        도서 산간 지역은 추가 운임이 발생할 수 있습니다.<br/>
        판매자 지정 택배 외 타택배 이용 시 추가 운임이 발생할 수 있습니다.<br/>
        기타 문의사항은 판매자문의를 이용해 주세요. <br/>
        이용한 택배사와 운송장 번호를 정확히 기재하여 주시면 신속히 처리해 드리겠습니다.
        </p>
    </div>
    <div class="row">
      <h2>반품신청</h2>
      <h3>1. 반품신청   >  2. 반품상품 수거   >  3. 반품상품 수거완료   >  4. 반품완료</h3>
      <p>
      고객님의 책임으로 상품 등이 멸실 또는 훼손되었거나 특정 상품의 경우 포장을 개봉하였거나 포장이 훼손되어 상품 가치가 상실된 경우 반품/교환이 불가할 수 있습니다.<br/>
      반품사유를 잘못 선택하셧을 경우 별도 배송비 입금요청을 드릴 수 있습니다.<br/>
      기타, 상품의 교환, 환불 및 상품 결함 등의 보상은 재정경제부고시, 소비자피해보상규정에 의함.<br/>
      도서 산간 지역은 추가 운임이 발생할 수 있습니다.<br/>
      판매자 지정 택배 외 타택배 이용 시 추가 운임이 발생할 수 있습니다.<br/>
      환불 처리를 위해 계좌 정보를 수집/이용하며, 입력하신 정보는 환불 목적으로만 이용됩니다.<br/>
      기타 문의사항은 판매자문의를 이용해 주세요. <br/>
      이용한 택배사와 운송장 번호를 정확히 기재하여 주시면 신속히 처리해 드리겠습니다.<br/>
      반품신청 기간 및 환불 상세 내용은 고객센터>자주묻는 질문을 참조해 주세요.
      </p>
      </div>
  </div>
</div>