@@include('./_head.html')

<!--
TODO:
- 좌우로 모바일일때 스크롤을 의미하는 옅은 이미지 넣기
- 좌측으로 0이면 좌측 이미지가 안보이고, 우측으로 0이면 우측 이미지가 안보임
- 가상요소 사용 및 클래스를 통하여 토글
-->

<div class="tab-type1">
    <div class="container">
        <div class="wrap">
            <a href="#//" class="tab-type1__links">
                <span class="active">메뉴1</span>
            </a>
            <a href="#//" class="tab-type1__links">
                <span class="">메뉴메뉴메뉴메뉴</span>
            </a>
            <a href="#//" class="tab-type1__links">
                <span>메뉴3</span>
            </a>
            <a href="#//" class="tab-type1__links">
                <span>메뉴4</span>
            </a>
            <a href="#//" class="tab-type1__links">
                <span>메뉴5</span>
            </a>
        </div>
    </div>
</div>

@@include('./_foot.html')