.intable {
  th,
  td {
    background: #fff !important;
    height: 40px !important;
    padding: 3px 0 !important;
    border: none !important;
    vertical-align: top;
    line-height: 35px;
  }

  .btn {
    width: 110px;
    border: 1px solid #000;
    background: #fff;
    height: 35px;
  }
}
