.lnb {
  width: 200px;
  flex: none;
  margin-right: 25px;
  .lnb__top {
    height: 150px;
    background: #159c65;
    @apply flex items-center justify-center;

    h3 {
      color: #fff;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .lnb__content {
    background: #f6f6f6;
    border: 1px solid #e2e2e2;

    .lnb__block {
      border-bottom: 1px solid #e2e2e2;
      padding: 20px 25px;

      &:last-child {
        border: none;
      }

      h4 {
        font-size: 16px;
        font-weight: 600;
      }
      ul {
        margin-top: 20px;
      }
      li {
        margin-bottom: 15px;
      }
      a {
        display: block;
        line-height: 1em;
        font-size: 14px;

        &.active {
          color: #ea475c;
        }
      }
    }
  }
}
