.product {
    @apply flex justify-between;

    .product__link {
        .product__img {
            margin-bottom: 15px;

            img {
                width: 100%;
            }
        }

        .product__date {
            @apply flex items-center;
            font-size: 11px;
            color: #666;
            margin-top: 10px;

            span {
                color: #222;
                margin-right: 5px;
                font-weight: 600;
            }
        }
    }
}