.page {
  padding-top: 60px;
}
.subHeader {
  @apply fixed left-0 top-0 w-full flex;
  z-index: 5000;
  height: 50px;
  background:#fff;
  border-bottom: 1px solid #e5e5e5;
  &.not-fix {
    position: relative;
    border: none;
  }

  .subHeader__back {
    width: 50px;
    height: 50px;
    background: url('../images/icons/icons-back.png') no-repeat center;
    background-size: auto 15px;
    text-indent: -9999px;
    overflow: hidden;
  }
  .subHeader__close {
    margin-left: auto;
    width: 50px;
    height: 50px;
    background: url('../images/icons/icons-x.png') no-repeat center;
    background-size: auto 17px;
    text-indent: -9999px;
    overflow: hidden;
  }
  .subHeader__title {
    font-size: 16px;
    @apply absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.header-layout {
  height: 162px;
}

.header {
  @apply w-full fixed left-0 top-0 bg-white;
  z-index: 6000;
  .header__top {
    @apply flex;
    background:#f6f6f6;
    a {
      line-height: 30px;
      flex: 1;
      font-size: 12px;
      text-align: center;
    }
  }

  .header__main {
    @apply relative flex justify-between items-center;
    height: 60px;
    background:#fff;
    .logo {
      @apply absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      height: 35px;
    }
  }
  .header__menu,
  .header__search{
    height: 60px;
    width: 40px;
    text-indent: -9999px;
    overflow: hidden;
  }
  .header__menu {
    background: url('../images/icons/icon-hamburger.png') no-repeat center;
    background-size: auto 12px;
  }
  .header__search {
    background: url('../images/icons/icon-search.png') no-repeat center;
    background-size: auto 15px;
  }
}

.header__gnb {
  border-top: 1px solid #222;
  a {
    @apply text-center;
    font-size: 12px;
    line-height: 35px;
    border-right: 1px solid #e5e5e5;
    &:nth-child(4n) {
      border-right: 0;
    }
    &:nth-child(n + 5) {
      border-top: 1px solid #e5e5e5;
    }
  }
}


.bg {
  @apply fixed left-0 top-0 w-full h-full;
  z-index: 9000;
  background: rgba(0,0,0,.5);
}
.left-nav {
  @apply fixed top-0 left-0 h-full bg-white;
  z-index: 9100;
  overflow: auto;
  width: 300px;
  transition: all .3s;

  &.active {
    display: block !important;
  }

  .left-nav__header {
    padding: 15px;
    padding-top: 40px;
    background:#f6f6f6;

    .close {
      text-indent: -9999px;
      overflow: hidden;
      @apply absolute;
      right: 10px;

      top: 10px;
      width: 30px;
      height: 30px;
      background: url('../images/icons/icons-x.png') no-repeat center;
      background-size: auto 15px;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
    .actions {
      margin-top: 15px;
      @apply flex;
      a {
        @apply text-center;
        font-size: 14px;
        line-height: 35px;
        border: 1px solid #e5e5e5;
        background:#fff;
        flex: 1;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.left-nav__links {
  @apply flex;

  a {
    flex: 1;
    padding: 15px 0;
    text-align: center;
  }
  p {
    font-size: 14px;
    margin-top: 5px;
  }
  .img {
    @apply flex justify-center items-center;
    height: 20px;
    img {
      max-height: 20px;
    }
  }
}

.left-nav__tab {
  @apply flex;
  padding:0 15px;
  a {
    flex: 1;
    background:#f6f6f6;
    line-height: 35px;
    font-size: 14px;
    color:#999999;
    text-align: center;
    &.active {
      background:#159c65;
      color:#fff;
    }
  }
}

.left-nav__search {
  padding:0 15px;
  margin-top: 40px;
  @apply flex;

  button {
    background: url('../images/icons/icon-search.png') no-repeat center;
    height: 40px;
    width: 40px;
    border-bottom: 1px solid #e5e5e5;
    background-size: auto 15px;
  }
  input {
    flex: 1;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
  }
}

.tab__views {
  padding:0 15px;
  margin-top: 10px;

  .left-nav__gnb {
    .link {
      line-height: 40px;
      border-bottom: 1px solid #e5e5e5;
      display: block;
      width: 100%;
      padding:0 10px;
      text-align: left;
      font-size: 14px;
      background: url('../images/icons/icon-nav-arrow-right.png') no-repeat calc(100% - 10px) center;
      background-size: auto 9px;
    }
    .depth {
      button {
        height: 40px;
        border-bottom: 1px solid #e5e5e5;
        display: block;
        width: 100%;
        padding:0 10px;
        text-align: left;
        font-size: 14px;
        background: url('../images/icons/icon-nav-arrow.png') no-repeat calc(100% - 10px) center;
        background-size: auto 6px;
      }
    }
    .links {
      padding: 10px;
      display: none;
      a {
        line-height:2em;
        @apply block;
        font-size: 12px;
        color:#999;
      }
    }
  }
}
