{% extends 'layout/base.njk' %}

{% block content %}
    <div class="page detail">
        <div class="section detail__view">
            <div class="wrap">
                <div class="thumb">
                    <div class="product__action">
                        <span class="product__mark new">
                            <img src="./assets/images/icons/new-big.png" alt="">
                        </span>
                    </div>
                    <div class="slider-for">
                        <div class="slider-for__item-01">
                            <img src="./assets/images/dummy-product.png" alt="">
                        </div>
                        <div class="slider-for__item-02">
                            <img src="http://via.placeholder.com/550x550" alt="">
                        </div>
                        <div class="slider-for__item-03">
                            <img src="./assets/images/dummy-product.png" alt="">
                        </div>
                        <div class="slider-for__item-04">
                            <img src="http://via.placeholder.com/550x550" alt="">
                        </div>
                    </div>
                    <div class="slider-nav">
                        <div class="slider-nav__item slider-nav__item-01">
                            <img src="./assets/images/dummy-product.png" alt="">
                        </div>
                        <div class="slider-nav__item slider-nav__item-02">
                            <img src="http://via.placeholder.com/550x550" alt="">
                        </div>
                        <div class="slider-nav__item slider-nav__item-03">
                            <img src="./assets/images/dummy-product.png" alt="">
                        </div>
                        <div class="slider-nav__item slider-nav__item-04">
                            <img src="http://via.placeholder.com/550x550" alt="">
                        </div>
                    </div>
                </div>

                <div class="goods-info">
                    <div class="goods_name">
                        <h3>
                            국내산 산지직송 완숙 찰 토마토
                            <p>
                                1박스 15kg
                            </p>
                        </h3>
                    </div>
                    <div class="goods_member">
                        <div class="list">
                            <div class="tit">판매가</div>
                            <div class="desc price">
                                <h4>
                                    38,900
                                    <span>원</span>
                                </h4>
                            </div>
                        </div>
                        <div class="list">
                            <div class="tit">회원혜택</div>
                            <div class="desc benefit">
                                <h4>
                                    최대 적립포인트
                                    <span>843</span>
                                    원 할인
                                </h4>

                                <div class="action">
                                    <a href="" class="link red">단골등록하기</a>
                                    <a href="" class="link green">판매농산 바로가기</a>
                                </div>
                            </div>
                        </div>
                        <div class="listBox">
                            <div class="list">
                                <div class="tit">원산지</div>
                                <div class="desc">
                                    <h4>
                                        국내산
                                    </h4>
                                </div>
                            </div>
                            <div class="list">
                                <div class="tit">판매단위</div>
                                <div class="desc">
                                    <h4>
                                        1박스 15kg
                                    </h4>
                                </div>
                            </div>
                            <div class="list">
                                <div class="tit">배송방법</div>
                                <div class="desc">
                                    <h4>
                                        택배
                                    </h4>
                                </div>
                            </div>
                            <div class="list">
                                <div class="tit">배송비</div>
                                <div class="desc">
                                    <h4>
                                        무료배송
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cartPut">
                        <div class="productOption">
                            <div class="list">
                                <div class="tit">구매수량</div>
                                <div class="desc count">
                                    <button class="countBtn minus">
                                        <img src="./assets/images/icons/minus.png" alt="">
                                    </button>
                                    <input type="text" name="" id="" value="1">
                                    <button class="countBtn plus">
                                        <img src="./assets/images/icons/plus.png" alt="">
                                    </button>
                                </div>
                            </div>

                            <div class="price">
                                <div class="tit">총 금액</div>
                                <div class="sum">
                                    38,900
                                    <span>원</span>
                                </div>
                            </div>
                        </div>

                        <div class="buyGroup">
                            <button class="buyBtn cart">장바구니</button>
                            <button class="buyBtn buy">바로구매</button>
                            <button class="buyBtn like">
                                <i>
                                    <img src="./assets/images/icons/like.png" alt="">
                                </i>
                                찜
                            </button>
                        </div>

                        <div class="gostore">
                            <a href="">
                                <h2>토마토스토어</h2>
                                <span>판매자 스토어 바로가기 </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section related-goods">
            <div class="wrap block">
                <div class="sec__tit">
                    <h3>함께 구입하면 좋은상품</h3>
                </div>
                <div class="sec__body">
                    <div class="goods-add-product">
                        <div class="product product-type1">
                            <div class="product__item">
                                <a href="" class="product__link">
                                    <div class="product__img">
                                        <img src="./assets/images/dummy-product-type1.png" alt="">
                                    </div>
                                    <div class="product__info">
                                        <div class="product__tit">
                                            <h3 class="product__name">
                                                <span class="category">[특상급]</span>
                                                성주 꿀참외
                                            </h3>
                                        </div>
                                        <div class="product__price">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                            <div class="price-origin">45,000원</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product__item">
                                <a href="" class="product__link">
                                    <div class="product__img">
                                        <img src="./assets/images/dummy-product-type1.png" alt="">
                                    </div>
                                    <div class="product__info">
                                        <div class="product__tit">
                                            <h3 class="product__name">
                                                <span class="category">[특상급]</span>
                                                성주 꿀참외
                                            </h3>
                                        </div>
                                        <div class="product__price">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                            <div class="price-origin">45,000원</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product__item">
                                <a href="" class="product__link">
                                    <div class="product__img">
                                        <img src="./assets/images/dummy-product-type1.png" alt="">
                                    </div>
                                    <div class="product__info">
                                        <div class="product__tit">
                                            <h3 class="product__name">
                                                <span class="category">[특상급]</span>
                                                성주 꿀참외
                                            </h3>
                                        </div>
                                        <div class="product__price">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                            <div class="price-origin">45,000원</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product__item">
                                <a href="" class="product__link">
                                    <div class="product__img">
                                        <img src="./assets/images/dummy-product-type1.png" alt="">
                                    </div>
                                    <div class="product__info">
                                        <div class="product__tit">
                                            <h3 class="product__name">
                                                <span class="category">[특상급]</span>
                                                성주 꿀참외
                                            </h3>
                                        </div>
                                        <div class="product__price">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                            <div class="price-origin">45,000원</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product__item">
                                <a href="" class="product__link">
                                    <div class="product__img">
                                        <img src="./assets/images/dummy-product-type1.png" alt="">
                                    </div>
                                    <div class="product__info">
                                        <div class="product__tit">
                                            <h3 class="product__name">
                                                <span class="category">[특상급]</span>
                                                성주 꿀참외
                                            </h3>
                                        </div>
                                        <div class="product__price">
                                            <div class="price">
                                                38,000
                                                <span class="currency">원</span>
                                            </div>
                                            <div class="price-origin">45,000원</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section goods-view">
            <div class="wrap">
                <div class="goods-view__left">
                    <div class="goods-view-tab-group">
                        <a href="#//" class="goods-view-tab_link active">상세정보</a>
                        <a href="#//" class="goods-view-tab_link">
                            리뷰
                            <span>
                                (11)
                            </span>
                        </a>
                        <a href="#//" class="goods-view-tab_link">
                            상품문의
                            <span>
                                (25)
                            </span>
                        </a>
                        <a href="#//" class="goods-view-tab_link">배송/교환/반품</a>
                    </div>
                    <div class="goods-view-content">
                        {# 상세정보 #}
                        <div class="goods-view-content__items goods-description">

                            <div class="goods-delivery">
                                <div class="extra-info">
                                    <div class="items">
                                        <div class="tit">
                                            <h3>상품정보</h3>
                                        </div>
                                        <table>
                                            <colgroup>
                                                <col width="245px">
                                                <col>
                                                <col width="245px">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>포장단위별 용량(중량) / 수량 / 크기</p>
                                                </td>
                                                <td>
                                                    <p>10kg</p>
                                                </td>
                                                <td class="info-heading">
                                                    <p>관련법상 표시사항</p>
                                                </td>
                                                <td>
                                                    <p>해당사항 없음</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>생산자 / 수입자</p>
                                                </td>
                                                <td>
                                                    <p>국내산</p>
                                                </td>
                                                <td class="info-heading">
                                                    <p>상품구성</p>
                                                </td>
                                                <td>
                                                    <p>50개내외</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>원산지</p>
                                                </td>
                                                <td>
                                                    <p>국내산</p>
                                                </td>
                                                <td class="info-heading">
                                                    <p>보관방법 또는 취급방법</p>
                                                </td>
                                                <td>
                                                    <p>냉장보관</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>제조연월일</p>
                                                </td>
                                                <td>
                                                    <p>2020년</p>
                                                </td>
                                                <td class="info-heading">
                                                    <p>소비자상담 관련 전화번호</p>
                                                </td>
                                                <td>
                                                    <p>01052792941</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>유통기한 또는 품질유지기한</p>
                                                </td>
                                                <td colspan="3">
                                                    <p>1주일이내</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="goods-intro">
                                <img src="./assets/images/goods-sample.png" alt="">
                            </div>

                            <div class="goods-delivery">
                                <div class="extra-info">
                                    <div class="items">
                                        <div class="tit">
                                            <h3>거래조건에 관한 정보</h3>
                                        </div>
                                        <table>
                                            <colgroup>
                                                <col width="340">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>재화등의 배송방법에 관한 정보</p>
                                                </td>
                                                <td>
                                                    <p>택배</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>재화등의 배송방법에 관한 정보</p>
                                                </td>
                                                <td>
                                                    <p>택배</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>재화등의 배송방법에 관한 정보</p>
                                                </td>
                                                <td>
                                                    <p>택배</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>재화등의 배송방법에 관한 정보</p>
                                                </td>
                                                <td>
                                                    <p>택배</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# 리뷰 #}
                        <div class="goods-view-content__items goods-review">
                            <div class="goods-viewNotice goods-viewNotice-review view-type2">
                                <div class="title">
                                    <h4>
                                        리뷰<span class="num">(11)</span>
                                    </h4>
                                    <p>리뷰작성 시 포인트가 적립됩니다.</p>
                                </div>
                                <div class="view-sort satisfaction">
                                    <div class="inner">
                                        <h4>
                                            구매만족도
                                            <div class="score-area">
                                                <span class="score">
                                                    <i class="active">★</i>
                                                    <i class="active">★</i>
                                                    <i class="active">★</i>
                                                    <i>★</i>
                                                    <i>★</i>
                                                </span>
                                                <span class="comment-cont">(11)</span>
                                            </div>
                                        </h4>
                                        <p>
                                            상품평을 작성하신
                                            <span>11</span>
                                            명의 평균 별점입니다.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="review-board">
                                <div class="review-list">
                                    <table>
                                        <colgroup>
                                            <col width="140px">
                                            <col width="">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="score-area">
                                                        <span class="score">
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i>★</i>
                                                            <i>★</i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="user-name">
                                                        miremire
                                                    </p>
                                                    <div class="review-desc">
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="score-area">
                                                        <span class="score">
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i>★</i>
                                                            <i>★</i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="user-name">
                                                        miremire
                                                    </p>
                                                    <div class="review-desc">
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="score-area">
                                                        <span class="score">
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i>★</i>
                                                            <i>★</i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="user-name">
                                                        miremire
                                                    </p>
                                                    <div class="review-desc">
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="score-area">
                                                        <span class="score">
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i>★</i>
                                                            <i>★</i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="user-name">
                                                        miremire
                                                    </p>
                                                    <div class="review-desc">
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="score-area">
                                                        <span class="score">
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i>★</i>
                                                            <i>★</i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="user-name">
                                                        miremire
                                                    </p>
                                                    <div class="review-desc">
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="score-area">
                                                        <span class="score">
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i class="active">★</i>
                                                            <i>★</i>
                                                            <i>★</i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="user-name">
                                                        miremire
                                                    </p>
                                                    <div class="review-desc">
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                        간편식인데 너무 맛있어요. 파와 감자를 추가해서 끄로여 먹으면 더욱 꿀맛. 간혹 김치칼국수
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="pagination mt-8">
                                    <div class="wrap">
                                        <a class="pagination__arrow prev" href="">이전</a>
                                        <div class="pagination__list">
                                            <a href="" class="pagination__number active">1</a>
                                            <a href="" class="pagination__number ">2</a>
                                            <a href="" class="pagination__number ">3</a>
                                            <a href="" class="pagination__number ">4</a>
                                            <a href="" class="pagination__number ">5</a>
                                        </div>
                                        <a class="pagination__arrow next" href="">다음</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {# 상품문의 #}
                        <div class="goods-view-content__items goods-qna">
                            <div class="goods-viewNotice goods-viewNotice-qna view-type2">
                                <div class="title">
                                    <h4>
                                        상품문의<span class="num">(25)</span>
                                    </h4>
                                </div>
                                <div class="view-sort qna-register">
                                    <div class="inner">
                                        <h4>
                                            상품문의 이외의 주문/배송 반품 관련 문의는
                                            <span>1:1 문의하기</span>
                                            를 이용해 주세요.
                                        </h4>
                                        <p>
                                            <button>상품문의 작성하기</button>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="qna-board">
                                <div class="qna-list">
                                    <table>
                                        <colgroup>
                                            <col width="140px">
                                            <col width="">
                                        </colgroup>
                                        <tbody>
                                            {# loop #}
                                            <tr>
                                                <td>
                                                    <div class="qnaIcon ico-question">
                                                        <img src="./assets/images/icons/answer-complete.png" alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="qna-subject">
                                                        품절된제품 재입고 가능한가요?
                                                    </div>
                                                    <p class="user-data">
                                                        <span class="name">miremire</span>
                                                        <span class="bar">|</span>
                                                        <span class="date">2020.0723</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="seller re">
                                                    <div class="qnaIcon ico-answer">
                                                        <img src="./assets/images/icons/re.png" alt="">
                                                    </div>
                                                </td>
                                                <td class="seller">
                                                    <div class="qna-subject">
                                                        안녕하세요 티파닌 이번달중에 입고될 예정이며 다른색상은 예정이 없습니다.
                                                        차후 일정 변동될수있는 점 양해바랍니다. 감사합니다.
                                                    </div>
                                                    <p class="user-data">
                                                        <span class="name">판매자</span>
                                                        <span class="bar">|</span>
                                                        <span class="date">2020.0723</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            {# //loop #}
                                            {# loop #}
                                            <tr>
                                                <td>
                                                    <div class="qnaIcon ico-question">
                                                        <img src="./assets/images/icons/answer-complete.png" alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="qna-subject">
                                                        품절된제품 재입고 가능한가요?
                                                    </div>
                                                    <p class="user-data">
                                                        <span class="name">miremire</span>
                                                        <span class="bar">|</span>
                                                        <span class="date">2020.0723</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="seller re">
                                                    <div class="qnaIcon ico-answer">
                                                        <img src="./assets/images/icons/re.png" alt="">
                                                    </div>
                                                </td>
                                                <td class="seller">
                                                    <div class="qna-subject">
                                                        안녕하세요 티파닌 이번달중에 입고될 예정이며 다른색상은 예정이 없습니다.
                                                        차후 일정 변동될수있는 점 양해바랍니다. 감사합니다.
                                                    </div>
                                                    <p class="user-data">
                                                        <span class="name">판매자</span>
                                                        <span class="bar">|</span>
                                                        <span class="date">2020.0723</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            {# //loop #}
                                            {# loop #}
                                            <tr>
                                                <td>
                                                    <div class="qnaIcon ico-question unanswered">
                                                        <img src="./assets/images/icons/answer-un.png" alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="qna-subject">
                                                        품절된제품 재입고 가능한가요?
                                                    </div>
                                                    <p class="user-data">
                                                        <span class="name">miremire</span>
                                                        <span class="bar">|</span>
                                                        <span class="date">2020.0723</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            {# //loop #}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        {# 배송/교환/환불 #}
                        <div class="goods-view-content__items goods-delivery">
                            <div class="goods-viewNotice goods-viewNotice-delivery view-type2">
                                <div class="title">
                                    <h4>
                                        배송/교환/반품안내
                                    </h4>
                                </div>
                                <div class="view-sort delivery-charge">
                                    <div class="inner">
                                        <h4>
                                            배송비 안내
                                        </h4>
                                        <div class="desc">
                                            <p>
                                                기본 배송비 : 3,000원
                                            </p>
                                            <p>
                                                무료 배송 기준 :
                                            </p>
                                            <p>
                                                1. 동일 배송 유형별 상품 30,000원 이상 구매시(단, 고구마는 40,000원 이상 구매 시)
                                            </p>
                                            <p>
                                                2. 무료배송으로 표시된 상품 구매시
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="extra-info">
                                <div class="items">
                                    <div class="tit">
                                        <h3>판매자정보</h3>
                                    </div>
                                    <table>
                                        <colgroup>
                                            <col width="185px">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>업체명</p>
                                                </td>
                                                <td>
                                                    <p>엠비언트라운지</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>업체명</p>
                                                </td>
                                                <td>
                                                    <p>박혜원</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>사업자구분</p>
                                                </td>
                                                <td>
                                                    <p>220-07-73426</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>통신판매업신고번호</p>
                                                </td>
                                                <td>
                                                    <p>제 2018-서울강남-00306 호</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>연락처</p>
                                                </td>
                                                <td>
                                                    <p>031-684-6556</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>사업장소재지</p>
                                                </td>
                                                <td>
                                                    <p>(17945) 경기 평택시 현덕면 운정길 3 엠비언트라운지 (운정리)</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="txt">
                                        <p>
                                            본 상품정보(상품상세정보, 상품기본정보 등)의 내용은 판매자가 직접 등록한 정보입니다.
                                        </p>
                                        <p>
                                            채소야는 중개시스템만 제공하며 그 등록 내용에 대하여 일체의 책임을 지지 않습니다.
                                        </p>
                                    </div>
                                </div>
                                <div class="items lst">
                                    <div class="tit">
                                        <h3>판매자정보</h3>
                                    </div>
                                    <table>
                                        <colgroup>
                                            <col width="185px">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>교환/반품 기간</p>
                                                </td>
                                                <td>
                                                    <p>
                                                        상품 수령일로 부터 7일 이내 (냉장/냉동, 신선식품은 상품 수령일로 부터 1~2일 이내)
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>교환/반품 불가 안내</p>
                                                </td>
                                                <td>
                                                    <p>
                                                        다음의 경우 교환/반품 기간 내라도 교환/반품 불가<br/>
                                                        (단, 제품 불량 및 하자, 오배송 제외)
                                                    </p>
                                                    <p>
                                                        1. 상품 수령일로부터 7일이 경과한 경우
                                                    </p>
                                                    <p>
                                                        2. 포장을 개봉하거나 상품을 취식한 경우
                                                    </p>
                                                    <p>
                                                        3. 패키지 상품, 묶음 상품, 특가 상품의 부분 교환/반품을 원하는 경우
                                                    </p>
                                                    <p>
                                                        4. 구성품 또는 사은품을 반납하지 않은 경우
                                                    </p>
                                                    <p>
                                                        5. 신선, 냉장, 냉동상품에 대해 시간이 경과되어 상품 등의 가치가 현저히 감소한 경우
                                                    </p>
                                                    <p>
                                                        제품하자 이외의 사유로 인한 교환/반품/취소 불가
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>교환/반품비</p>
                                                </td>
                                                <td>
                                                    <p>
                                                        고객님의 단순변심으로 인한 교환/반품 시, 택배 박스단위로 배송비 부과
                                                    </p>
                                                    <p class="dots">
                                                        <span class="ico"></span>
                                                        교환 배송비 : 박스당 6,000원 (왕복)
                                                    </p>
                                                    <p class="dots">
                                                        <span class="ico"></span>
                                                        반품 배송비 : 박스당 6,000원 (왕복)
                                                    </p>
                                                    <p>
                                                        단, 남은 결제금액이 택배비 무료 기준 금액 이상인 경우 3,000원(편도) 부과
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>교환/반품 절차</p>
                                                </td>
                                                <td>
                                                    <div class="box">
                                                        <p>
                                                            교환/반품 신청 (임의반품 시, 처리불가)
                                                        </p>
                                                        <p class="dots">
                                                            <span class="ico"></span>
                                                            [마이페이지 > 주문/배송 조회] 페이지에서 바로 접수바로가기
                                                        </p>
                                                        <p class="dots">
                                                            <span class="ico"></span>
                                                            고객행복센터(1664-1943)로 신청 (평일 09:00~18:00, 토/일/공휴일 휴무)
                                                        </p>
                                                        <p class="dots">
                                                            <span class="ico"></span>
                                                            반품신청 접수 후 필요 시 고객님께 전화 드리며, 전화상담 후 반품이 최종 결정 됩니다.
                                                        </p>
                                                    </div>
                                                    <div class="box">
                                                        <p>
                                                            상품불량 및 누락 시, 교환/반품 유의사항
                                                        </p>
                                                        <p class="dots">
                                                            <span class="ico"></span>
                                                            상품불량 및 누락 시 반드시 사진 첨부하여 교환/반품 신청
                                                        </p>
                                                        <p class="dots">
                                                            <span class="ico"></span>
                                                            불량 및 하자 상품은 회수 후 처리 가능하므로 보관
                                                        </p>
                                                        <p>
                                                            교환/반품 접수 후, 2~5일 이내 택배기사님이 방문하여 상품 교환 및 회수 진행
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-heading">
                                                    <p>환불 안내</p>
                                                </td>
                                                <td>
                                                    <p>
                                                        반품 시, 반품된 상품이 물류센터로 입고되어 검수가 완료되면‘취소완료’처리 됩니다.
                                                    </p>
                                                    <p>
                                                        환불은 취소완료 후 영업일 기준 7일이내 처리됩니다.
                                                    </p>
                                                    <p>
                                                        현금 결제하신 경우‘취소완료’후 신청하신 환불계좌로 영업일 기준 2~3일 내 입금됩니다.
                                                    </p>
                                                    <p>
                                                        카드로 결제하신 경우‘취소완료’후 영업일 기준 4~7일 이내 승인취소 처리 됩니다.
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="detail__foot">
            <div class="wrap">
                <button class="toggle-button" onclick="$('.detail__foot').toggleClass('active')">
                    <span>상품선택</span>
                </button>

                <div class="prod-state">
                    <h2>국내산 산지직송 완숙 찰 토마토 1박스 15kg</h2>

                    <div class="count">
                        <button class="countBtn minus">
                            <img src="./assets/images/icons/minus.png" alt="">
                        </button>
                        <input type="text" name="" id="" value="1">
                        <button class="countBtn plus">
                            <img src="./assets/images/icons/plus.png" alt="">
                        </button>
                    </div>

                    <div>
                        <strong>38,900</strong>원
                    </div>
                </div>
                <div class="prod-price">
                    <span>총 금액</span>
                    <h2>
                        38,900<span>원</span>
                    </h2>
                </div>
                <div class="prod-actions">
                    <button class="buyBtn alrim">
                        <i>
                            <img src="./assets/images/icons/alrim-icon.png" alt="">
                        </i>
                        재입고 알림
                    </button>
                    <button class="buyBtn reg">단골등록하기</button>
                    <button class="buyBtn cart">장바구니</button>
                    <button class="buyBtn buy">바로구매</button>
                    <button class="buyBtn like">
                        <i>
                            <img src="./assets/images/icons/like.png" alt="">
                        </i>
                        찜
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
