{% extends 'layout/base.njk' %}

{% block content %}
    <div class="page accounts">
        <div class="accounts__header">
            <div class="wrap">
                <h2 class="accounts__title">아이디/비밀번호 찾기</h2>
            </div>
        </div>
        <div class="accounts__body">
            <div class="wrap">
                <div class="login">
                    <div class="login__container">
                        <div class="col">
                            <h3 class="login__col-title">
                                아이디 찾기
                            </h3>
                            <p class="login__col-desc">
                                회원님의 아이디가 기억나지 않으세요?<br/>
                                가입 당시 입력한 이메일 또는 휴대폰 번호로 인증번호를 발송합니다.<br/>
                                <br/>
                                본인인증 시 제공되는 정보는 해당 인증기관에서 직접 수집하며,<br/>
                                인증 이외의 용도로 이용 또는 저장되지 않습니다.
                            </p>

                            <div class="find-case">
                                <label for="setEmail" class="radio">
                                    <input type="radio" name="case" id="setEmail" value="email" data-case="caseId" hidden checked>
                                    <span></span>
                                    <p>이메일로 찾기</p>
                                </label>
                                <label for="setNumber" class="radio">
                                    <input type="radio" name="case" id="setNumber" value="number" data-case="caseId" hidden>
                                    <span></span>
                                    <p>휴대폰 번호로 찾기</p>
                                </label>
                            </div>
                            <form action="">
                                <div class="login__form">
                                    <div class="form-row">
                                        <div class="row">
                                            <div class="input">
                                                <input type="text" placeholder="이름">
                                            </div>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div id="caseId">
                                        <div class="form-row" id="emailInput">
                                            <div class="input">
                                                <input type="password" placeholder="이메일">
                                            </div>
                                        </div>
                                        <div class="form-row" id="numberInput" style="display: none;">
                                            <div class="input">
                                                <input type="text" placeholder="휴대폰 번호">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="login__btnbox">
                                    <button type="submit" class="bg-black text-white border border-black hover:text-black hover:bg-white duration-300  btn">
                                        아이디 찾기
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <h3 class="login__col-title">
                                비밀번호 찾기
                            </h3>
                            <p class="login__col-desc">
                                회원님의 비밀번가 기억나지 않으세요?<br/>
                                가입 당시 입력한 이메일 또는 휴대폰 번호로 인증번호를 발송합니다.<br/>
                                <br/>
                                본인인증 시 제공되는 정보는 해당 인증기관에서 직접 수집하며,<br/>
                                인증 이외의 용도로 이용 또는 저장되지 않습니다.
                            </p>

                            <div class="find-case">
                                <label for="setEmail2" class="radio">
                                    <input type="radio" name="casePassword" id="setEmail2" value="email" data-case="casePassword" hidden checked>
                                    <span></span>
                                    <p>이메일로 찾기</p>
                                </label>
                                <label for="setNumber2" class="radio">
                                    <input type="radio" name="casePassword" id="setNumber2" value="number" data-case="casePassword" hidden>
                                    <span></span>
                                    <p>휴대폰 번호로 찾기</p>
                                </label>
                            </div>
                            <form action="">
                                <div class="login__form">
                                    <div class="form-row">
                                        <div class="row">
                                            <div class="input">
                                                <input type="text" placeholder="이름">
                                            </div>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div id="casePassword">
                                        <div class="form-row" id="emailInput">
                                            <div class="input">
                                                <input type="password" placeholder="이메일">
                                            </div>
                                        </div>
                                        <div class="form-row" id="numberInput" style="display: none;">
                                            <div class="input">
                                                <input type="text" placeholder="휴대폰 번호">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="login__btnbox">
                                    <button type="submit" class="bg-black text-white border border-black hover:text-black hover:bg-white duration-300  btn">
                                        비밀번호 찾기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
          $('.find-case input').on('change', function(){
            var target = $(this).data('case');
            var value = $(this).val();

            $('#'+target).find('.form-row').hide();
            if(value === 'email') {
              $('#'+target).find('#emailInput').show();
            } else if(value === 'number') {
              $('#'+target).find('#numberInput').show();
            }
          })
        })
    </script>
{% endblock %}

